# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Env files
.env

# macOS
.DS_Store

# IDE / editor
.vscode/
.idea/

# Flask / local files
instance/

# Logs
*.log
